{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Symbol</th>
                <th>Number of shares</th>
                <th>Total amount</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
                <tr>
                    <td>{{ trans["time"] }}</td>
                    <td>{{ trans["symbol"] }}</td>
                    <td>{{ trans["sharenumber"] }}</td>
                    <td>{{ trans["price"] | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

